*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    margin: 0 auto;
    width: 80%;
    background-color: darkslategray;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.foto,.titulo,.contenido,img ,.pie,.container{
    width: 100%;
}

input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.titulo{

    text-align: center;
    padding: 10px;
}

form{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.pie{
    align-self: center;
    padding: 10px;
}
label{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
button{
    align-self: center;
    padding: 10px;
    text-transform: uppercase;
}
@media all and (min-width: 600px){
    form{
        flex-direction: row;

    }
    label{
        flex-basis: 25%;
    }
    input{
        flex-basis: 75%;
    }
}
@media all and (min-width: 700px){
    label{
        flex-basis: 12.5%;
        padding-left:1em ;
    }
    input{
        flex-basis: 37.5%;
    }
}